
/*Homepage styling*/
.jumbotron-image {
    background-position: center;
    color: white;
    height: 400px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center; 
}

.display-4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 100px;
}

p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
}

#about-me {
    text-align: center;
    color: gray;
}
/*Portfolio Styling*/
.noBull {
    background-color: white;
    border-radius: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    list-style-type: none;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}
.fa-cocktail {
    font-size: 30px;
}

.fa-code {
    font-size: 30px;
}

img:hover {
    opacity: 0.3;
    transition: .5s ease;
}

.portfolio-heading {
    background-color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

.jumbotron-portfolio {
    margin-top: 30px;
    margin-bottom: 0;
}
/*Card Styling*/
.g-card {
    margin: 20px;
}
  
.g-card-info {
    text-align: center;
    margin-top: 10px;
    min-height: 100px;
}
  
  
.g-card-title {
    font-size: 24px;
    margin: 0px;
}
  
  
.g-card-sub-title {
    font-size: 16px;
    margin: 0px;
}
/*Contact form styling*/
.contactSection {
    background-color: transparent;
}

.contact {
    border-radius: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.contactText {
    padding-bottom: 20px;
    text-align: center;
}

.jumbotron-fluid {
    margin-bottom: 0;
}

#submit-btn {
    background-color: #708090;
    border-color: transparent;
}

#submit-btn:hover {
    background-color: #696969;
}